@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: Poppins;
}

.width{
    width: 40%;
    max-width: 100%;
    margin: 100px auto;   
}

.background-top{
    background: rgba(0, 95, 158, 0.11);  
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.width .row{
    color: darkblue;
    padding: 10px;
    position: relative;
    border-radius: 3px;
}

.width .dif{
    width: 12%;
    position: absolute;
    z-index: 9;
    bottom: -30;
    padding: 15px;
    left: 30px;
    background-color: rgb(243, 241, 241);
    border-radius: 50%;
}

.width img{
    width: 100%;
}

.width form{
    padding-inline: 30px;
}

.width form label{
    width: 100%;
    font-size: 13px;
    margin: 5px 0;
}

.width form input{
    width: 100%; 
    padding: 10px; 
    border: none;
    outline: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 5px;
}

.width form button{
    margin: 10px 0;
}

.width form input:focus{
    outline-color: rgb(187, 185, 185);
}

.width form .control{
    width: 50%;
}


@media (max-width: 871px) {
    .width{
        width: 90%;
    }
    .width form{
        padding-inline: 10px;
    }
    .width .dif{
        width: 15%;
        left: 60px;
    }
}